$small: 500px;

@mixin defaultBtn() {
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    margin-bottom: 10px;

    outline: none;
    border-radius: 20px;
    color: #4E342E;
    background-color: #FF8A65;
    color: white;
    transition: all ease .4s;
    cursor: pointer;

    &:hover {
        background-color: #FF7043;
    }
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffe0b2d4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 650px;
    min-height: 400px;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        @media screen and (max-width: $small) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__main {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__city-list {
        width: 40%;
        max-height: 280px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #FF8A65;
            border-radius: 40px;
        }

        @media screen and (max-width: $small) {
            height: 140px;
            max-height: 140px;
        }
    }

    &__start-btn {
        @include defaultBtn();
        padding: 30px 60px;
        font-size: 1.5rem;
        &:hover {
            scale: 1.1;
        }
    }

    &__submit-btn {
        @include defaultBtn();
    }

    &__end-btn {
        @include defaultBtn();
    }

    &__title {
        color: #FF7043;
        margin-top: 0;
        margin-bottom: 20px;
    }

    &__input {
        padding: 10px;
        color: #4E342E;
        border: 2px solid #FFAB91;
        border-radius: 5px;
        width: calc(100% - 24px);
        margin-bottom: 15px;
    }

    &__error-text {
        color: #D32F2F;
        margin-top: 10px;
    }

    &__city-name {
        background-color: #FFCCBC;
        color: #4E342E;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
}
